@tailwind base;
@tailwind components;
@tailwind utilities;

.planet-animation {
  animation: animatedPlanet 30s infinite ease-in-out;
}

@keyframes animatedPlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
